receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  zipkin:
    endpoint: http://zipkin:9411/api/v2/spans
  
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [zipkin]
    metrics:
      receivers: [otlp]
      exporters: [debug]   # metrics ficam só no log, ZIPKIN não aceita métricas
    logs:
      receivers: [otlp]
      exporters: [debug]
